body {
  margin: 0px;
  padding: 0px;
  color: var(--primary--color);
  letter-spacing: 0.9px;
  font-family: "Times New Roman", Times, serif;
}

input,
textarea {
  background: 0 0;
}

p {
  margin: 0px;
}
